.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 8px 8px 30px #3a3535;
  z-index: 3;
  margin-right: -10px;

  @media (max-width: 768px) {
    font-size: 12px;
  }

  .product-brand {
    font-weight: bold;
    margin: 0;
    color: gray;
  }

  .product-name {
    font-weight: bold;
    margin: 0;
  }

  .product-img {
    height: 40vmin;
    margin: 20px;
    pointer-events: none;
  }

  .product-price {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .product-discount {
    font-weight: bold;
    color: #1f9810;
    text-align: center;
    margin-top: 0;
  }

  .product-shipping {
    margin-top: 0;
  }
}
